<h3>In order to protect you and other <b>Bondi-Bonding</b> users, we need to verify your identity.
  Please upload a clear picture of your ID.</h3>

<label class="bb-upload d-block mx-auto" for="idInput">
  <div class="bb-validation-section">
    <mat-icon class="bb-upload-icon">add_a_photo</mat-icon>
  </div>
</label>

<input
  id="idInput"
  type="file"
  accept="image/*"
  class="d-none"
  capture="environment"
  (input)="handlePhotoInput($event)"
/>

<p class="mt-3">
    For more information about our privacy policy, please review <a routerLink="/faq">our FAQ section</a>.
</p>
