.bb-validation-section
    border: solid
    border-color: black
    padding: 30%

.bb-upload-icon
  display: block
  margin: auto

  font-size: 4rem

  min-height: 10rem
  width: fit-content

@media ( max-width: 700px )
  .bb-upload-icon
      max-height: 100%

@media ( min-width: 700px )
  .bb-upload-icon
      max-height: 10rem
