<mat-toolbar class="bb-navbar">
  <mat-divider class="bb-divider"></mat-divider>
  <mat-toolbar-row class="row">
      <div class="col">
        <a routerLink="/home">
          <mat-icon color="primary">directions_bus</mat-icon>
        </a>
      </div>
      <div class="col">
        <a routerLink="/chat">
          <mat-icon color="primary" matBadge="{{unreadedChats}}" matBadgeColor="warn" [matBadgeHidden]="isBadgeHidden">chat</mat-icon>
        </a>
      </div>
      <div class="col">
        <a routerLink="/profile">
          <mat-icon color="primary">person</mat-icon>
        </a>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
