<mat-tab-group mat-align-tabs="center" animationDuration="0ms">

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">chat</mat-icon>
            </ng-template>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">directions_bus</mat-icon>
            </ng-template>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">person</mat-icon>
            </ng-template>
        </mat-tab>

</mat-tab-group>
