/*.bb-navbar
  // TODO: Alinear para abajo del todo de la pantalla en todo momento.
  // Asegurarse que no haga cosas raras con el contenido si es largo (capaz que queda por detras de la navbar)
  width: 100%
  position: fixed
  bottom: 0 
  z-index: 1000*/

.bb-navbar .row
  display: flex
  align-items: center
  justify-content: center

.row .col
  padding: 10%

.bb-divider
  border-top-color: black

.bb-navbar
  background-color: white
