<mat-toolbar class="bb-navbar">
  <mat-toolbar-row class="justify-content-center w-100 p-0">

    <div class="row w-100 h-100">

        <a class="bb-navbar-link bb-home-link col d-flex justify-content-center {{homeActiveSelector}}"
            routerLink="/home">
          <mat-icon class="bb-navbar-icon" color="primary">map</mat-icon>
        </a>

        <a class="bb-navbar-link bb-chat-link col d-flex justify-content-center {{homeChatSelector}}"
            routerLink="/chat">
          <mat-icon class="bb-navbar-icon"
            [matBadge]="unreadedChats"
            matBadgeColor="warn"
            [matBadgeHidden]="isBadgeHidden"
            color="primary">chat</mat-icon>
        </a>

        <a class="bb-navbar-link bb-profile-link col d-flex justify-content-center {{homeProfileSelector}}"
            routerLink="/profile">
          <mat-icon class="bb-navbar-icon" color="primary">person</mat-icon>
        </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
