.bb-user-info-icon
  width: 4.2rem
  height: 4.2rem

.bb-user-info
  line-height: 1.4rem

.bb-user-name
  font-family: 'DM Sans'
  font-weight: bold
  font-size: 1.12rem

  color: #1E1E1E

.bb-description
  text-overflow: ellipsis

  font-family: 'DM Sans'
  font-weight: 400
  font-size: 0.84rem

  color: #9D9D9D
