.app-chat-feed-header
    position: sticky
    top:0
    z-index: 9999

.app-chat-feed-input
    width: 100%
    position: fixed
    bottom: 0
    z-index: 1000

.bb-chat-section
    position: relative
    height: calc(100vh - 7rem)
