<form class="bb-init-form"
  [formGroup]="updatePasswordForm"
  (ngSubmit)="handlePasswordUpdate()">

  <div class="bb-flex-center bb-text-green bb-init-top-text">
    Password Update
  </div>

  <div class="bb-flex-center">
    <mat-form-field class="bb-w-100" appearance="outline" [hideRequiredMarker]="true">
      <mat-icon matPrefix class="bb-icon bb-input-icon" color="primary">lock</mat-icon>
      <mat-label>New Password</mat-label>
      <input matInput
        [formControl]="newPasswordControl"
        type="password"
      >
      <mat-error>
        Password must have 8 characters or more
      </mat-error>
    </mat-form-field>
  </div>

  <div class="bb-flex-center bb-submit-button-margin">
    <div class="bb-w-100">
      <button mat-raised-button class="bb-init-submit-button" color="primary">
        UPDATE PASSWORD
      </button>
    </div>
  </div>

</form>
