<mat-stepper [linear]="false" orientation="vertical">
  <mat-step label="Personal Information" [stepControl]="personalInformationGroup">
      <div class="forms-body-container">
          <app-signup-forms #signUpForm ></app-signup-forms>
      </div>
      <button mat-raised-button
        matStepperNext
        class="bb-next-button"
        color="primary"
        (click)="pullFormData()">NEXT
      </button>
  </mat-step>
  <mat-step label="Identity Validation" [stepControl]="identityValidationGroup">
      <app-validation-from></app-validation-from>
      <button mat-raised-button
        matStepperNext
        class="bb-next-button"
        color="primary">NEXT
      </button>
  </mat-step>
  <mat-step label="Terms of Service">
      <app-tos #ToS_form></app-tos>

      <mat-checkbox
        class="my-2"
        [checked]="acceptedToS"
        color="primary"
        (change)="toggleAcceptToS()"
      >
        I agree to the Bondi-Bonding terms of service and privacy policy
      </mat-checkbox>

      <button *ngIf="acceptedToS" mat-raised-button
        matStepperNext
        class="bb-next-button"
        color="primary"
        (click)="handleSignUp()">SIGN UP
      </button>
  </mat-step>
</mat-stepper>

