<mat-stepper>
    <mat-step label="Information">
        <div class="forms-body-container">
            <app-signup-forms #signUpForm ></app-signup-forms>
        </div>
        <div class="next-button" (click)="pullFormData()">
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Validation">
        <app-validation-from></app-validation-from>
        <div class="next-button">
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Tos">
        <app-tos #ToS_form></app-tos>
        <div class="next-button" *ngIf="everythingIsOk">
            <button mat-button matStepperNext>SignUp</button>
        </div>
    </mat-step>
</mat-stepper>


