<form class="bb-init-form"
  [formGroup]="passwordRecoveryForm"
  (ngSubmit)="handlePasswordRecovery()">

  <div class="bb-flex-center bb-text-green bb-init-top-text">
    Password Recovery
  </div>

  <div class="bb-flex-center">
    <mat-form-field class="bb-w-100" appearance="outline" [hideRequiredMarker]="true">
      <mat-icon matPrefix class="bb-input-icon" color="primary">person</mat-icon>
      <mat-label>Username</mat-label>
      <input matInput [formControl]="usernameControl" (input)="resetFormOnUserChange()">
      <mat-error>
        Username must have 4 characters or more
      </mat-error>
    </mat-form-field>
  </div>

  <div class="bb-flex-center">
    <mat-form-field class="bb-w-100" appearance="outline" [hideRequiredMarker]="true">
      <mat-icon matPrefix class="bb-input-icon" color="primary">key</mat-icon>
      <mat-label>Recovery Code</mat-label>
      <input matInput
        [formControl]="recoveryCodeControl"
      >
      <mat-error>
        Recovery Code must have 6 characters
      </mat-error>
    </mat-form-field>
  </div>

  <div class="bb-flex-center bb-submit-button-margin">
    <div class="bb-w-100">
      <button mat-raised-button *ngIf="recoveryCodeControl.disabled"
        class="bb-init-submit-button"
        color="primary"
      >SEND RECOVERY CODE</button>

      <button mat-raised-button *ngIf="!recoveryCodeControl.disabled"
        class="bb-init-submit-button"
        color="primary"
      >RESET PASSWORD</button>
    </div>
  </div>

</form>
