<form class="bb-search-form" [formGroup]="searchForm">
  <mat-form-field class="bb-search-form-field"
    appearance="outline"
    color="primary">
    <mat-label>FROM</mat-label>
    <input matInput [formControl]="fromControl">
  </mat-form-field>

  <mat-form-field class="bb-search-form-field"
    appearance="outline"
    color="primary">
    <mat-label>TO</mat-label>
    <input matInput [formControl]="toControl">
  </mat-form-field>

  <mat-form-field class="bb-search-form-field"
    appearance="outline"
    color="primary">
    <mat-label>DESCRIPTION</mat-label>
    <input matInput [formControl]="descriptionControl">
  </mat-form-field>

  <app-search-filters-modal [filterControl]="filtersControl"></app-search-filters-modal>

  <button
    mat-raised-button
    class="bb-search-form-btn bb-bond-btn"
    color="primary"
    (click)="handleBondClick()">
    BOND
  </button>
</form>
