<section class="bb-landing-content">
  <p class="bb-title-text">
    BONDI BONDING
  </p>
  <a routerLink="/login">
      <button mat-raised-button class="bb-btn bb-login-btn" color="primary">
        LOG IN
      </button>
  </a>

  <a class="bb-link-text" routerLink="/signup">
      <p class="bb-signup-text">or create an account</p>
  </a>

</section>


<footer class="bb-faq-footer">
  <a class="bb-link-text" routerLink="/faq">
    <mat-icon class="bb-faq-icon" color="primary">
      help
    </mat-icon>
  </a>
</footer>
