@use "../../../../styles"

.bb-login-form
  width: 100%
  height: 100%

.bb-login-text
  margin-top: 0.8rem
  margin-bottom: 1rem
  font-size: 1.2rem
  font-weight: lighter

.bb-login-button
  width: 100%
  height: 3rem
  font-size: 1.2rem
  font-weight: lighter
  margin-top: 1.1rem

.bb-login-forgot-password-text
  margin-top: 0.6rem
  text-align: right
  font-size: 1rem
  font-weight: 500

.bb-login-forgot-password-link
  text-decoration: none
  color: black

  &:visited
    text-decoration: none
