<mat-toolbar class="bb-chat-feed-header">
    <mat-toolbar-row class="bb-feed-header">
      <a routerLink="/chat" *ngIf="showIcons">
        <button mat-icon-button>
          <mat-icon>arrow_back</mat-icon>
        </button>
      </a>
      <div>
        <span class="bb-title">{{title}}</span>
      </div>
      <button mat-icon-button *ngIf="showIcons"  [matMenuTriggerFor]="menu" #matMenuTriggerFor>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item (click)="openBlockDialog()">
          <mat-icon>block</mat-icon>
          <span>Block user</span>
        </button>
        <button mat-menu-item (click)="openDeleteDialog()">
          <mat-icon>delete</mat-icon>
          <span>Delete chat</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

