
<app-navbar activePage="Chat"></app-navbar>

<article class="bb-chat-page-article">
  <app-chat-feed-header
    *ngIf="temporalChats && temporalChats.length > 0"
    [title]="'Temporal chats'"
    [showIcons]="false">
  </app-chat-feed-header>
  <app-chats-list [chats]="temporalChats">
  </app-chats-list>

  <app-chat-feed-header
    *ngIf="permanentChats && permanentChats.length > 0"
    [title]="'Permanent chats'"
    [showIcons]="false">
  </app-chat-feed-header>
  <app-chats-list [chats]="permanentChats">
  </app-chats-list>
</article>
