.bb-chat-feed-footer
  background: white

  width: 100%

  position: sticky
  bottom: 0

  align-items: center

.bb-send-icon
  width: fit-content
  height: fit-content

  font-size: 2rem

.bb-message-input
  height: 4rem
  margin-left: 0.5rem
