<app-navbar [activePage]="'Profile'"></app-navbar>
<div class="bb-user-info">

    <button mat-icon-button [matMenuTriggerFor]="menu" class="bb-profile-menu" *ngIf="showMenuAndFilters">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="enterEditionMode()" class="bb-btn-menu-opt">
            <span class="bb-profile-menu-item">Edit</span>
            <mat-icon>edit</mat-icon>
        </button>
    </mat-menu>

    <div class="bb-user-photo" *ngIf="!isEditMode">
        <app-user-icon [iconUrl]="user.iconUrl"></app-user-icon>
    </div>

    <div class="bb-user-photo bb-edit-mode" *ngIf="isEditMode" (click)="pfpInput.click()">
        <app-user-icon [iconUrl]="user.iconUrl"></app-user-icon>
        <mat-icon  class="bb-user-pfp-edit">add_photo_alternate</mat-icon>
    </div>
        <h1 class="bb-name">{{user.name}}</h1>
        <h3 class="bb-username">@{{user.username}}</h3>
</div>

<!--TABS-->
<mat-tab-group mat-align-tabs="center" color="primary">

    <mat-tab label="Profile">
        <div class="bb-profile-tab-content">
            <app-profile-description
              [isEdit]="isEditMode"
              [user]="user"
              (closeEditMode)="closeEditMode($event)"
            ></app-profile-description>
        </div>
    </mat-tab>

    <mat-tab label="Filters" *ngIf="showMenuAndFilters">
        <div class="bb-profile-tab-content">
          <app-trip-filters-form
            #tripFiltersForm
            [defaultFilters]="user.filters"
            (tripFiltersSubmit)="saveFilters($event)"
            >
          </app-trip-filters-form>
          <button class="bb-btn bb-save-filters-btn"
            mat-raised-button color="primary"
            (click)="tripFiltersForm.handleTripFiltersSubmit()"
            >SAVE FILTERS
          </button>
        </div>
    </mat-tab>

</mat-tab-group>

<input #pfpInput class="d-none" type="file">


<!--NavBar-->
