<section class="bb-init-content">
  <p class="bb-title-text">
    BONDI BONDING
  </p>
  <a routerLink="/init/login">
      <button mat-raised-button class="bb-login-btn" color="primary">
        Log in
      </button>
  </a>

  <a class="bb-link-text" routerLink="/init/signup">
      <p class="bb-signup-text">or create an account</p>
  </a>

</section>


<footer class="bb-faq-footer">
  <a class="bb-link-text" routerLink="/faq">
    <div class="bb-faq-text">
      FAQs
    </div>
    <mat-icon class="bb-faq-icon" color="primary">expand_more</mat-icon>
  </a>
</footer>
