
<app-navbar class="d-flex" activePage="Chat"></app-navbar>

<div *ngIf="isLoading" class="row gx-0 justify-content-center mt-5">
  <mat-spinner color="primary"></mat-spinner>
</div>

<article *ngIf="!isLoading" class="bb-chat-page-article">

  <div *ngIf="hasNoChats">
    <h3 class="bb-error-msg">
      Sorry, we found no chats for your user.
      <br>
      <br>
      Try chatting with other Bondi-Bonding users by searching for trips or creating your own.
    </h3>
  </div>

  <app-chat-feed-header
    *ngIf="temporalChats && temporalChats.length > 0"
    [title]="'Temporal chats'"
    [showMenu]="false">
  </app-chat-feed-header>
  <app-chats-list [chats]="temporalChats">
  </app-chats-list>

  <app-chat-feed-header
    *ngIf="permanentChats && permanentChats.length > 0"
    [title]="'Permanent chats'"
    [showMenu]="false">
  </app-chat-feed-header>
  <app-chats-list [chats]="permanentChats">
  </app-chats-list>
</article>
