.bb-edit
    display: flex
    justify-content: end
    position: fixed
    bottom: 0
    z-index: 99999
    width: 95%
    padding: 5%

.bb-btn-edit 
    &hover
        cursor: pointer

.bb-edition-opt
    display: flex
    justify-content: center
    width: 95%
    padding: 5%

.bb-btn-change
    margin-right: 5%