<form [formGroup]="filterForm" (ngSubmit)="handleSearchSubmit()">

      <div class="d-flex flex-wrap">
        <p class="col-12">Age</p>
        <!-- Age range field -->
        <mat-form-field
          class="col-6 pe-2"
          appearance="outline"
          color="primary">
          <mat-label>Min</mat-label>
          <input matInput
                  [formControl]="filterForm.controls.minAge"
                  maxlength="3">
        </mat-form-field>
        <mat-form-field
          class="col-6"
          appearance="outline"
          color="primary">
          <mat-label>Max</mat-label>
          <input matInput
                  [formControl]="filterForm.controls.maxAge"
                  maxlength="3"
                  (input)="checkMaxAge()">
        </mat-form-field>

        <!-- Gender field -->
        <mat-form-field
          class="col-6"
          appearance="outline"
          color="primary">
          <mat-label>Max</mat-label>
          <input matInput
                [formControl]="filterForm.controls.maxAge">
        </mat-form-field>
      </div>

</form>
