<form class="bb-init-form"
  [formGroup]="loginForm"
  (ngSubmit)="handleLoginSubmit()">

  <div class="row">

    <div class="bb-flex-center bb-text-green bb-init-top-text">
      Log in
    </div>

    <div class="bb-flex-center">
      <mat-form-field class="bb-w-100"
        appearance="outline"
        [hideRequiredMarker]="true"
        color="primary">
        <mat-icon matPrefix class="bb-input-icon" color="primary">person</mat-icon>
        <mat-label>Username</mat-label>
        <input matInput [formControl]="usernameControl">
        <mat-error>
          Username must have 4 characters or more
        </mat-error>
      </mat-form-field>
    </div>

    <div class="bb-flex-center">
      <mat-form-field
        class="bb-w-100"
        appearance="outline"
        [hideRequiredMarker]="true"
        color="primary">
        <mat-icon matPrefix class="bb-input-icon" color="primary">lock</mat-icon>
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="passwordControl">
        <mat-error>
          Password must have 8 characters or more
        </mat-error>
      </mat-form-field>
    </div>

    <div class="bb-flex-center bb-submit-button-margin">
      <div class="bb-w-100">
        <button mat-raised-button class="bb-btn bb-init-submit-button" color="primary">LOG IN</button>
        <p class="bb-login-forgot-password-text">
          <a class="bb-link-text"
            routerLink="/init/resetPassword"
          >Forgot password?
          </a>
        </p>
      </div>
    </div>

  </div>

</form>
