.speech-bubble 
    width: 75%
    margin: 50px auto
    border-radius: 15px
    background: #4d9f0f
    padding: 20px
    font-family: 'DM Sans'
    font-weight: 700
    text-decoration: none
    color: whitesmoke
    position: relative

.sender
    width: 75%
    margin: 50px auto
    border-radius: 15px
    background: #E8E8E8
    color: black
    padding: 20px
    font-family: 'DM Sans'
    font-weight: 700
    text-decoration: none
    color: black
    position: relative

.user:before
    content: ""
    width: 0px
    height: 0px
    position: absolute
    border-left: 15px solid #4d9f0f
    border-right: 15px solid transparent
    border-top: 15px solid #4d9f0f
    border-bottom: 15px solid transparent
    right: -16px
    top: 0px

.sender:before
    content: ""
    width: 0px
    height: 0px
    position: absolute
    border-left: 15px solid transparent
    border-right: 15px solid #E8E8E8
    border-top: 15px solid #E8E8E8
    border-bottom: 15px solid transparent
    left: -16px
    top: 0px