$bb-primary-green:  #419400
$bb-primary-dark-green: #357a00

// fonts
@font-face
  font-family: "Montserrat"
  src: local("Montserrat"), url(./assets/fonts/Montserrat/static/Montserrat-Regular.ttf) format("truetype")

@font-face
  font-family: "DM Sans"
  src: local("DM Sans"), url(./assets/fonts/DM_Sans/DMSans-Regular.ttf) format("truetype")


// bb classes
.bb-btn-primary
  background: $bb-primary-green
  color: white

  &:hover
    background: $bb-primary-dark-green

.bb-btn-basic
  background: white
  color: $bb-primary-green

.bb-text-green
  color: $bb-primary-green

.bb-icon
  color: $bb-primary-dark-green

.bb-input-icon
  padding-right: 0.8rem

.bb-w-100
  width: 100%

.bb-flex-center
  display: flex
  justify-content: center

.bb-link-text
  font-family: 'DM Sans'
  font-weight: 700
  text-decoration: none
  color: black

  &:visited
    text-decoration: none

// Material form field overrides
// default
.mat-form-field
  .mat-form-field-label
    color: $bb-primary-dark-green

  .mat-form-field-outline
    color: black
    opacity: 80%

  .mat-form-field-required-marker
    color: red

  &:hover
    .mat-form-field-outline
      color: $bb-primary-green

// focused
.mat-form-field.mat-focused
  .mat-form-field-label
    color: black

  .mat-form-field-outline
    color: $bb-primary-green

// invalid
.mat-form-field.mat-form-field-invalid
  .mat-form-field-required-marker
    color: red

  .mat-form-field-outline
    color: red

  .bb-icon
    color: red
