@use 'mdb-angular-ui-kit/assets/scss/mdb.scss'

$bb-primary-green:  #419400
$bb-primary-dark-green: #357a00

// fonts
@font-face
  font-family: "Montserrat"
  src: local("Montserrat"), url(./assets/fonts/Montserrat/static/Montserrat-Regular.ttf) format("truetype")

@font-face
  font-family: "DM Sans"
  src: local("DM Sans"), url(./assets/fonts/DM_Sans/DMSans-Regular.ttf) format("truetype")


// bb classes
.bb-text-green
  color: $bb-primary-green

.bb-input-icon
  padding-right: 0.8rem

  &.bb-disabled
    color: gray

.bb-w-100
  width: 100%

.bb-flex-center
  display: flex
  justify-content: center

.bb-link-text
  font-family: 'DM Sans'
  font-weight: 700
  text-decoration: none
  color: black

  &:visited
    text-decoration: none

.bb-btn
  font-family: 'Montserrat'

.bb-grid-form-field
  width: 100%
  height: 100%
